<configuration>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{yyyy-MM-dd'T'HH:mm:ss.SSSZZ} [%thread] [%X{msgId};%X{retryAttempt};%X{routingKey};%X{exchange};%X{isRedeliver}] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="ASYNC_STDOUT" class="ch.qos.logback.classic.AsyncAppender">
        <appender-ref ref="STDOUT"/>
        <includeCallerData>true</includeCallerData>
    </appender>
    <logger name="com.gu.multimedia.mxscopy.MXSConnectionBuilderImpl" level="DEBUG"/>
    <logger name="com.gu.multimedia.storagetier.vidispine.VidispineCommunicator" level="DEBUG"/>
    <logger name="com.gu.multimedia" level="INFO"/>
    <logger name="com.gu.multimedia.storagetier.auth" level="INFO"/>
    <logger name="com.gu.multimedia.storagetier.plutocore" level="INFO"/>
    <logger name="AssetSweeperMessageProcessor" level="DEBUG"/>
    <logger name="FileCopier" level="DEBUG"/>
    <logger name="OwnMessageProcessor" level="DEBUG"/>
    <logger name="Main$" level="INFO"/>

    <root level="ERROR">
        <appender-ref ref="ASYNC_STDOUT" />
        <!-- <appender-ref ref="Sentry" />-->
    </root>

</configuration>