<configuration>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{yyyy-MM-dd'T'HH:mm:ss.SSSZZ} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <logger name="com.gu.multimedia" level="DEBUG"/>
    <logger name="com.gu.multimedia.storagetier.auth" level="INFO"/>
    <logger name="FakeMessageProcessor" level="DEBUG"/>
    <logger name="plutocore" level="INFO"/>
    <logger name="AssetSweeperMessageProcessor" level="DEBUG"/>
    <logger name="archivehunter" level="INFO"/>
    <logger name="Main$" level="DEBUG"/>

    <root level="ERROR">
        <appender-ref ref="STDOUT" />
        <!-- <appender-ref ref="Sentry" />-->
    </root>

</configuration>