<configuration>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{yyyy-MM-dd'T'HH:mm:ss.SSSZZ} [%thread] [%X{msgId};%X{retryAttempt};%X{routingKey};%X{exchange};%X{isRedeliver};%X{correlationId}] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="ASYNC_STDOUT" class="ch.qos.logback.classic.AsyncAppender">
        <appender-ref ref="STDOUT"/>
        <includeCallerData>true</includeCallerData>
    </appender>
    <!-- <logger name="com.gu.multimedia" level="DEBUG"/> -->
    <logger name="com.gu.multimedia.storagetier.auth" level="DEBUG"/>
    <!-- <logger name="FakeMessageProcessor" level="DEBUG"/> -->
    <logger name="com.gu.multimedia.storagetier.plutocore" level="DEBUG"/>
    <logger name="AssetSweeperMessageProcessor" level="DEBUG"/>
    <!-- <logger name="VidispineMessageProcessor" level="DEBUG"/> -->
    <!-- <logger name="archivehunter" level="DEBUG"/>
    <logger name="FileUploader" level="DEBUG"/> -->
    <logger name="Main$" level="DEBUG"/>

    <root level="DEBUG">
        <appender-ref ref="ASYNC_STDOUT" />
        <!-- <appender-ref ref="Sentry" />-->
    </root>

</configuration>